@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
:root {
  --beige: #fdecd8;
  --green: #b1b695;
  --lightpurple: #a690a4;
  --purple: #56445d;
  --eggplant: #5e4b56;

  --black: rgb(33, 33, 33);
  --white: rgb(236, 226, 208);

  --pink: #fdecd8;
  --brigt-pink: #a54657;

  --rightanswer: #a0af84;
  --wronganswer: #ff7477;

  --standard-size: 8px;
  --box-shadow: rgb(, 196, 196);
  --standard-font: "Montserrat", sans-serif;
  --standard-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

body {
  background-image: url("./thespacepicture.jpg");
  background-color: #95bf74;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
}

.container {
  width: 1200px;
  max-width: 90%;
  margin: 0 auto;
}

.game-box {
  background-color: var(--green);
  opacity: 97%;
  margin-top: 12px;
  border-radius: 2%;
  border-style: outset;
  border-color: var(--green);
  color: var(--black);
  box-shadow: var(--standard-shadow);
  height: 1300px;
  position: relative;
}

h1 {
  margin-top: 12px;
  color: var(--beige);
  font-weight: normal;
  font-family: "Poppins";
}

.play-text {
  margin-top: 12px;
  color: var(--purple);
  font-weight: 600;
  font-size: 60px;
  font-family: "Poppins";
  &:hover {
    color: var(--beige);
  }
}

.border-lets-play {
  margin-top: 12px;
  border-style: dotted;
  border-width: 12px;
  border-radius: 42%;
  padding: 36px;
  line-height: 48px;
  border-radius: 50%;
  height: 220px;
 max-width: 226px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-color: var(--purple);
  animation: blow-up 1000ms ease-in-out;
}

.question-container {
  margin-top: 20px;
  color: var(--purple);
  font-family: "Pacifico";
  font-weight: normal;
  height: 168px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.question {
  font-weight: 400;
  font-size: 48px;
}

.optionslist {
  list-style: none;
  font-size: 24px;
  margin-bottom: 2px;
  color: var(--lightpurple);
  font-family: "Poppins";
  text-decoration: none;
  font-weight: 400;
  height: 340px;
}

.option {
  &:hover {
    color: var(--beige);
  }
}

.option-button {
  background-color: var(--lightpurple);
  box-shadow: var(--standard-shadow);
  text-decoration: none;
  font-family: "Poppins";
  border-radius: 18px;
  max-width: 500px;
  width: 100%;
  padding: 12px;
  border: 6px;
  font-size: 18px;
  color: rgb(33, 33, 33);
  margin-top: 40px;
  margin-bottom: 8px;

  &:hover {
    background-color: var(--beige);
    color: var(--eggplant);
  }
  &:active {
    background-color: transparent;
    color: white;
  }
}

.correct-answer {
  background-color: #95bf74;
  border: lightgreen;
  border-style: dotted;
border-width: 6px;
  border-radius: 50px;
  font-weight: 400;
  color: var(--black);

  &:hover {
    background-color: #95bf74;
    color: rgb(33, 33, 33);
  }
}

.wrong-answer {
  opacity: 0.5;
  background-color: #a54657;
  &:hover {
    background-color: #a54657;
    color: rgb(33, 33, 33);
  }
}

.feedback {
  height: 42px;
  margin-top: 24px;
  font-family: "Poppins";
  font-size: 28px;
  color: var(--purple);
}

.score-status {
  margin-top: 24px;
  font-family: "Poppins";
  font-size: 36px;
  color: var(--lightpurple);
  font-weight: 500px;

  height: 20px;
}

.score-status-low {
  margin-top: 24px;
  font-family: "Poppins";
  font-size: 36px;
  color: #a54657;
}
.score-status-high {
  margin-top: 24px;
  font-family: "Poppins";
  font-size: 36px;
  color: var(--lightpurple);
}

.next-button {
  font-family: "Poppins";
  background-color: var(--purple);
  box-shadow: var(--standard-shadow);
  text-decoration: none;
  border-radius: 30px;
  padding: 32px;
  border: 4px;

  font-size: 18px;
  color: var(--lightpurple);
  font-weight: 500;
  margin-top: 20px;

  max-width: 500px;
  width: 100%;
  padding: 12px;
  border: 6px;

  &:hover {
    background-color: var(--beige);
    color: var(--eggplant);
  }
  &:active {
    background-color: transparent;
    color: white;
  }
}

.next-button-hidden {
  display: none;
}

.time {
  color: var(--eggplant);
  font-size: 24px;
  font-family: "Poppins";
  font-weight: 400;
  margin-top: 48px;
}
.hurry {
  color: var(--brigt-pink);
  font-size: 24px;
  font-family: "Poppins";
  margin-top: 48px;
}

.final-text {
  font-size: 48px;
  color: var(--purple);
  font-family: "Pacifico";
  margin-top: 2px;
}
.final-score {
  font-size: 48px;
  color: var(--lightpurple);
}

@keyframes blow-up {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(2);
    color: var(--eggplant);
  }

  100% {
    transform: scale(1);
  }
}

.final-score-number {
  font-size: 48px;
  color: var(--lightpurple);
  font-family: "Poppins";
  border-color: var(--beige);
  border-style: dotted;
  border-width: 20px;
  margin-top: 24px;
  padding: 20px;
  padding-top: 50px;
  text-align: center;
  line-height: 48px;
  border-radius: 50%;
  box-sizing: border-box;
  height: 200px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  animation: blow-up 1000ms ease-in-out;
}

.summary-container{
  background-color: var(--lightpurple);
  width: 100%;
  max-width: 480px;
  display: flex;
  align-items: center;
  padding: 20px;
   border-radius: 2%;
  border-style:hidden;  
  justify-content: center;
  border-color: var(--green);
  color: var(--black);
  box-shadow: var(--standard-shadow);
  margin-left: 30%;
  margin-top: 24px;
}

.summary-list{
   font-size: 12px;
  color: var(--purple);
  font-family: "Poppins";
  list-style: none;

  & li{
    margin-top: 12px;
  }
}

.summary-rightanswer{
  color: var(--rightanswer);
font-weight: 600;
}

.summary-wronganswer{
  color: var(--wronganswer);
font-weight: 600;
}

/* ta bort cake ev */
.cake-div {
  margin-top: 24px;
}

.cake-svg {
  fill: var(--eggplant);
  height: 24px;
  width: 24px;

  &:hover {
    fill: var(--lightpurple);
  }
}

.play-again-button {
  background-color: var(--lightpurple);
  box-shadow: var(--standard-shadow);
  text-decoration: none;
  border-radius: 30px;
  width: 350px;
  height: 70px;
  padding: 8px;
  border: 4px;
  font-size: 18px;
  color: var(--eggplant);
  font-weight: 700;
  margin-top: 40px;

  &:hover {
    background-color: var(--eggplant);
    color: var(--beige);
  }
  &:active {
    background-color: transparent;
    color: white;
  }
}

.page-footer {
  color: var(--eggplant);
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 12px;
}

.page-footer-mail {
  & a {
    color: var(--green-box-color5);
    font-family: "Poppins";
    text-decoration: none;
    font-weight: 500;

    &:hover {
      color: var(--brigt-pink);
    }
  }
}

/* RESPONSIVITET */
/*  Mobile Device/Smaller screen  */
@media (max-width: 600px) {
}
