@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
:root {
  --beige: rgb(221, 187, 166);

  --pink: #e5c1bd;
  --brigt-pink: #a54657;
  --white: rgb(236, 226, 208);
  --green: #869d7a;

  --greenlight: #bbe1c3;
  --blue: #a7cdbd;
  --brown: #91785d;

  --rightanswer: #a0af84;
  --wronganswer: #ff7477;

  --standard-size: 8px;
  --box-shadow: rgb(, 196, 196);
  --standard-font: "Montserrat", sans-serif;
  --standard-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.background-image {
  /* background-image: ; */
}

body {
  background-color: var(--green);
  font-family: var(--standard-font);
}

.container {
  width: 1200px;
  max-width: 90%;
  margin: 0 auto;
}

h1 {
  color: var(--greenlight);
  font-weight: bolder;
  font-family: "Poppins";
  font-weight: normal;
}

.play-text {
  margin-top: 12px;
  color: var(--brown);
  font-weight: 600;
  font-size: 60px;

  &:hover {
    color: var(--beige);
  }
}
.question {
  margin-top: 20px;
  color: var(--brown);
  font-family: "Pacifico";
  font-weight: normal;
  font-weight: 400;
  font-size: 48px;
}

.optionslist {
  list-style: none;
  font-size: 24px;
  margin-bottom: 2px;
  color: var(--greenlight);
  font-family: "Poppins";
  text-decoration: none;
  font-weight: 400;
}

.option {
  &:hover {
    color: var(--beige);
  }
}

.option-button {
  background-color: #91785d;
  box-shadow: var(--standard-shadow);
  text-decoration: none;
  font-family: "Poppins";
  border-radius: 18px;
  width: 500px;
  padding: 12px;
  border: 4px;
  font-size: 18px;
  color: rgb(33, 33, 33);
  margin-top: 40px;
  margin-bottom: 8px;

  &:hover {
    background-color: #bbe1c3;
    color: var(--brown);
  }
  &:active {
    background-color: transparent;
    color: white;
  }
}

.correct-answer {
  background-color: #95bf74;
  border: var(--greenlight);
  border-style: dotted;
  border-radius: 50px;
  opacity: 0.5;

  &:hover {
    background-color: #95bf74;
    color: rgb(33, 33, 33);
  }
}

.wrong-answer {
  opacity: 0.5;
  background-color: #a54657;
  &:hover {
    background-color: #a54657;
    color: rgb(33, 33, 33);
  }
}

/* ev ta bort? */
.timeleft-nextquestion {
  color: orange;
}

.feedback {
  margin-top: 24px;
  font-family: "Poppins";
  font-size: 28px;
}

.next-button {
  font-family: "Poppins";
  background-color: var(--brown);
  box-shadow: var(--standard-shadow);
  text-decoration: none;
  border-radius: 30px;
  width: 140px;
  padding: 8px;
  border: 4px;

  font-size: 18px;
  color: rgb(33, 33, 33);
  font-weight: 500;
  margin-top: 20px;

  &:hover {
    background-color: #bbe1c3;
    color: var(--brown);
  }
  &:active {
    background-color: transparent;
    color: white;
  }
}

.next-button-hidden {
  opacity: 0.5;
  display: none;

  &:hover {
    background-color: var(--brown);
    color: inherit;
    cursor: not-allowed;
  }
  &:active {
    background-color: inherit;
    color: inherit;
    cursor: not-allowed;
  }
}

.time {
  color: #91785d;
  font-size: 24px;
  font-family: "Poppins";
  font-weight: 400;
  margin-top: 56px;
}
.hurry {
  color: orange;
  font-size: 24px;
  font-family: "Poppins";
  margin-top: 56px;
}

.score-status {
  margin-top: 24px;
  font-family: "Poppins";
  font-size: 36px;
  color: var(--greenlight);
  font-weight: 500px;

  height: 20px;
}

.score-status-low {
  margin-top: 24px;
  font-family: "Poppins";
  font-size: 36px;
  color: #a54657;
}
.score-status-high {
  margin-top: 24px;
  font-family: "Poppins";
  font-size: 36px;
  color: var(--greenlight);
}

.final-text {
  font-size: 48px;
  color: #91785d;
  font-family: "Pacifico";
  margin-top: 48px;
}
.final-score {
  font-size: 48px;
  color: #91785d;
}

@keyframes blow-up {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(2);
    color: var(--brown);
  }

  100% {
    transform: scale(1);
  }
}

.final-score-number {
  font-size: 48px;
  color: #a7cdbd;
  font-family: "Poppins";
  border-color: #91785d;
  border-style: dotted;

  border-width: 20px;
  margin-top: 24px;
  padding: 20px;
  padding-top: 50px;
  text-align: center;
  line-height: 48px;
  border-radius: 50%;
  box-sizing: border-box;
  height: 200px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  animation: blow-up 1000ms ease-in-out;
}

.cake-div {
  margin-top: 24px;
}

.cake-svg {
  fill: var(--brown);
  height: 240px;
  width: 240px;

  &:hover {
    fill: var(--greenlight);
  }
}

.play-again-button {
  background-color: var(--blue);
  box-shadow: var(--standard-shadow);
  text-decoration: none;
  border-radius: 30px;
  width: 350px;
  height: 70px;
  padding: 8px;
  border: 4px;
  font-size: 18px;
  color: var(--brown);
  font-weight: 700;
  margin-top: 40px;

  &:hover {
    background-color: var(--brown);
    color: var(--greenlight);
  }
  &:active {
    background-color: transparent;
    color: white;
  }
}

.page-footer {
  font-size: xx-small;
  color: var(--brown);
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

.page-footer-mail {
  & a {
    color: var(--green-box-color5);
    font-family: "Poppins";
    text-decoration: none;
    font-weight: 500;

    &:hover {
      color: var(--brigt-pink);
    }
  }
}

/* RESPONSIVITET */
/*  Mobile Device/Smaller screen  */
@media (max-width: 600px) {
}
